@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color: #fff;
  background: linear-gradient(90.21deg, rgba(109, 32, 119, 0.5) -5.91%, rgba(1, 33, 105, 0.5) 111.58%), rgba(0, 0, 0, 0.8);

}

main {
  background: #393a47;
  height: 100vh;
  height: 100dvh;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #f5741c;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}